# Application
APP_NAME=FaceGuard API
APP_VERSION=0.1.0
APP_ENV=development

# Database
POSTGRES_PASSWORD=faceguard

# Security
SECRET_KEY=your-secret-key-here-change-in-production
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Frontend URLs (для удаленного доступа)
VITE_API_URL=http://10.93.26.183:8000/api/v1
VITE_WS_URL=ws://10.93.26.183:8000
VITE_STREAM_URL=http://10.93.26.183:8001